*
!package.json 
!packages/server/package.json 
!packages/common/package.json 
!packages/server/.env.production 
!packages/server/dist 
!packages/common/dist 
!packages/web/build 
!packages/@types